{% extends 'ramasceneMasterProject/baseHome.html' %}


{% load render_bundle from webpack_loader %}


{% load static %}
{% block title %}RaMA-Scene{% endblock %}


{% block speciality %}

{% endblock %}


<!-- Add code to initialize the product tree when the document is loaded: -->



{% block content %}








<h1>Welcome to the RamaScene homepage! </h1>
Please visit:
<li class="active"><a href="ramascene">
  ramascene app</a>
</li>

<li class="active">
 <a href="ramascene">
</a>
</li>



{% endblock %}