# ignore build of docs
/docs/build

# ignore node_modules (use commands to built)
/node_modules

#ignore bundle created by django (use commands to built)
/assets/bundles

#(ignore sqlite)
sqlite3*

#ignore settings.py for deployment purposes
/ramasceneMasterProject/settings.py
