<script>

glyph_opts = {
    map: {
      doc: "glyphicon glyphicon-file",
      docOpen: "glyphicon glyphicon-file",
      checkbox: "glyphicon glyphicon-unchecked",
      checkboxSelected: "glyphicon glyphicon-check",
      checkboxUnknown: "glyphicon glyphicon-share",
      dragHelper: "glyphicon glyphicon-play",
      dropMarker: "glyphicon glyphicon-arrow-right",
      error: "glyphicon glyphicon-warning-sign",
      expanderClosed: "glyphicon glyphicon-menu-right",
      expanderLazy: "glyphicon glyphicon-menu-right",  // glyphicon-plus-sign
      expanderOpen: "glyphicon glyphicon-menu-down",  // glyphicon-collapse-down
      folder: "glyphicon glyphicon-folder-close",
      folderOpen: "glyphicon glyphicon-folder-open",
      loading: "glyphicon glyphicon-refresh glyphicon-spin"
    }
  };
  $(function(){
    // Initialize Fancytree
    $("#tree2").fancytree({
      extensions: ["dnd", "edit", "glyph", "wide", "childcounter", "filter", "persist"],
      checkbox: true,
      dnd: {
        focusOnClick: true,
        dragStart: function(node, data) { return true; },
        dragEnter: function(node, data) { return false; },
        dragDrop: function(node, data) { data.otherNode.copyTo(node, data.hitMode); }
      },
      glyph: glyph_opts,




      selectMode: 1,
            //if selectmode == 1, then we dont want to have multiple selections ( cookies conflicts with this)
      click: function(e, data){
      var selectMode = 1;
      if (selectMode == 1) {
          //selectmode is 1, so we want to check a: check which node was selected, and deselect that one

                $("#tree2").fancytree("getTree").visit(function(node){
                 tt = $.ui.fancytree.getEventTargetType(e.originalEvent);
                if( tt !== "expander" && tt !== "title") {
                node.setSelected(false);
    }
      });
      }


      },
      quicksearch: true,

      source: {{ regionConsumng|safe }},
      persist: {
				expandLazy: true,
				// fireActivate: false,    // false: suppress `activate` event after active node was restored
				{% if session %} overridesource: true, {% else %} overridesource: false, {% endif %}  // true: cookie takes precedence over `source` data attributes.
				store: "auto" // 'cookie', 'local': use localStore, 'session': sessionStore
			},
      filter: {
        autoApply: true,  // Re-apply last filter if lazy data is loaded
        counter: true,  // Show a badge with number of matching child nodes near parent icons
        fuzzy: false,  // Match single characters in order, e.g. 'fb' will match 'FooBar'
        hideExpandedCounter: true,  // Hide counter badge, when parent is expanded
        highlight: true,  // Highlight matches by wrapping inside <mark> tags
        mode: "dimm"  // Grayout unmatched nodes (pass "hide" to remove unmatched node instead)
      },

      toggleEffect: { effect: "drop", options: {direction: "left"}, duration: 400 },
      wide: {
        iconWidth: "1em",     // Adjust this if @fancy-icon-width != "16px"
        iconSpacing: "0.5em", // Adjust this if @fancy-icon-spacing != "3px"
        levelOfs: "1.5em"     // Adjust this if ul padding != "16px"
      },

      icon: function(event, data){
        // if( data.node.isFolder() ) {
        //   return "glyphicon glyphicon-book";
        // }
      },
      childcounter: {
        deep: true,
        hideZeros: true,
        hideExpanded: true
      },

       activate: function(event, data) {
      },


      lazyLoad: function(event, data) {
        data.result = {url: "ajax-sub2.json", debugDelay: 1000};
      },





    });




//add Post function
		$("form").submit(function() {
			// Render hidden <input> elements for active and selected nodes
			$("#tree2").fancytree("getTree").generateFormElements();





		});

$("#reload").click(function(){


       var tree2 = $("#tree2").fancytree("getTree");



         tree2.clearCookies();


      });
      $("#noSession").click(function(){


       var tree2 = $("#tree2").fancytree("getTree");



         tree2.clearCookies();


      });
            $("#noSession2").click(function(){


       var tree2 = $("#tree2").fancytree("getTree");



         tree2.clearCookies();


      });
{% if  killProductPurchased %}
 var tree = $("#tree").fancytree("getTree");

         tree.clearCookies();
         window.onload = function() {
    if(!window.location.hash) {
        window.location = window.location + '#loaded';
        window.location.reload();
    }
}
 {% endif %}

 {% if  killregionConsumng %}
 var tree = $("#tree2").fancytree("getTree");

         tree.clearCookies();
         window.onload = function() {
    if(!window.location.hash) {
        window.location = window.location + '#loaded';
        window.location.reload();
    }
}
 {% endif %}


$("#btnsToggleSelect2").click(function(){
      $("#tree2").fancytree("getRootNode").visit(function(node){
        node.toggleSelected();
      });
      return false;
    });
    $("#btnsDeselectAll2").click(function(){
      $("#tree2").fancytree("getTree").visit(function(node){

          node.setSelected(false);
      });
      return false;
    });
    $("#btnsSelectAll2").click(function(){
      $("#tree2").fancytree("getTree").visit(function(node){
        if( node.isVisible() ) {
          node.setSelected(true);
          node.getParent().setSelected(false);
      }

      });
      return false;
    });
    $("#btnsFocus2").click(function(){
      $("#tree2").fancytree("getTree").visit(function(node){
        if( node.isActive() ) {
        node.setSelected(false);
         selNodes = node.getChildren();
         selNodes.forEach(function(nodes) {
          nodes.setSelected(true);

         });
      }

      });
      return false;
    });
    $("#btnsNorm2").click(function(){
      $("#tree2").fancytree("getTree").visit(function(node){
        if( node.isSelected()   ){
            if (node.isTopLevel() ){
              node.setSelected(false);
            }
            else {
            node.getParent().setSelected(false);
            node.getParent().getParent().setSelected(false);
            }
            }
      });

      return false;
    });
var countClicks2 = 1;
    var maxLevel2 = [];
    $("#btnsExpandAll2").click(function(){


        highestLevel2 = Math.max.apply(null, maxLevel2);

        countClicks2++;
		$("#tree2").fancytree("getTree").visit(function(node){
            currentLevel2 = node.getLevel();
            maxLevel2.push(currentLevel2)
            if ( currentLevel2 < countClicks2){
              node.setExpanded(true);
            }



		});
		if (countClicks2 != 2 && countClicks2 > highestLevel2  ){
		countClicks2 = countClicks2-1;
		}
	});
	$("#btnsCollapseAll2").click(function(){
	    countClicks2 = 1;
		$("#tree2").fancytree("getTree").visit(function(node){
			node.setExpanded(false);
		});
	});
	$("#btnsCollapseLevel2").click(function(){

	    var currentLevelCount2 = countClicks2 - 1;

		$("#tree2").fancytree("getTree").visit(function(node){
		    currentLevel2 = node.getLevel();

			if (currentLevelCount2 <= currentLevel2){
			node.setExpanded(false);
			countClicks2 = currentLevelCount2;
			 if (currentLevelCount2 < 1){
              countClicks2 = 1;
			}
			}
			//
		});
	});






  });

</script>
